<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM Test Automation Test Suite">

	<listeners>
   		 <listener class-name="com.proj.qa.ExtentReportListener.ExtentReporterNG"/>
   		 <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
	</listeners>

    <test name="Free CRM Test Cases">
        <classes>
        	<class name="com.proj.qa.testcases.LoginPageTest"/>
            <class name="com.proj.qa.testcases.HomePageTest"/>
            <class name="com.proj.qa.testcases.ContactsPageTest"/>
        </classes>
    </test>
</suite>